.video-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats {
    font-family: Roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 5px;
}
.video-author {
    font-family: Roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.video-description {
    width: 520px;
    font-family: Roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.creative-text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 5vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #aeb6d7;
    text-transform: uppercase;

}